{{#> layout }}
<div class="c-wrapper">
  <form class="c-form" action="/authorize" method="post">
    <h1 class="c-display u-margin-bottom">Authorize site</h1>
    <div class="c-notice">
      {{#if hcard}}
        <div class="c-hcard u-clearfix">
          {{#if hcard.photo}}
            <img class="c-hcard__photo" src="{{hcard.photo}}" alt="">
          {{/if}}
          <div class="c-hcard__description">
            {{#if hcard.name}}<div><a href="{{ client_id }}">{{hcard.name}}</a></div>{{/if}}
            {{#if hcard.note}}{{hcard.note}}{{/if}}
          </div>
        </div>
      {{else}}
        <a href="{{ client_id }}">{{client_id}}</a>
      {{/if}}
    </div>
    <p>Press authorize to prove your identity.</p>
    <p class="u-margin-bottom">Under the hood the site will be given an authorization code that it can exchange for
    a token that proves you're you.</p>
    <input type="hidden" name="me" value="{{me}}">
    <input type="hidden" name="client_id" value="{{client_id}}">
    <input type="hidden" name="redirect_uri" value="{{redirect_uri}}">
    <input type="hidden" name="state" value="{{state}}">
    <div class="c-authorize-buttons u-margin-bottom">
      <a href="/logout">Logout</a>
      <button type="submit">Authorize site</button>
    </div>
    {{#if message}}
      <p class="c-notice">Woops! Your username or password was wrong.</p>
    {{/if}}
  </form>
</div>
{{/layout}}
